body
{
	width: 80%;
	margin: auto;
}
.main_section
{
	padding-bottom: 50px;
}
table
{
	border: 10px outset #1E90FF;
	border-spacing: 0;
	width: 100%;
}
td
{
	text-align: center;
	border: 1px solid black;
}
.main_header
{
	text-align: center;
}
.main_table
{
	overflow: hidden;
}
.main_table
tr:first-child{
	background-color: rgba(255, 153, 153, 0.31);
}
tr:not(:first-child):hover td 
{
    background-color: #8EDE4B;
}
td
{
	position: relative;
}
td:not(:first-child):hover::after
{
	content: "";
	position: absolute;
	background-color: #8EDE4B;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
}
tr:nth-child(2n) td
{
	background-color: rgba(216, 215, 215, 0.45);
}
.fly
{
	height: 20px;
}
.logo
{
	width: 100px;
}
.centered_form
{
	padding-top: 20px;
}
.centered_form
input,
button
{
	display: block;
	margin: auto auto 10px auto;
}
#c_fly[value="come_fly"]:checked ~ table tr[value="o_fly"],
#o_fly[value="out_fly"]:checked ~ table tr[value="c_fly"],
#town_input[value="Кольцово"] ~ table tr[name="Шереметьево"],
#town_input[value="Кольцово"] ~ table tr[name="Самарский аэропорт"],
#town_input[value="Кольцово"] ~ table tr[name="Бабушкин аэропорт"],
#town_input[value="Самарский аэропорт"] ~ table tr[name="Кольцово"],
#town_input[value="Самарский аэропорт"] ~ table tr[name="Шереметьево"],
#town_input[value="Самарский аэропорт"] ~ table tr[name="Бабушкин аэропорт"],
#town_input[value="Шереметьево"] ~ table tr[name="Кольцово"],
#town_input[value="Шереметьево"] ~ table tr[name="Самарский аэропорт"],
#town_input[value="Шереметьево"] ~ table tr[name="Бабушкин аэропорт"],
#town_input[value="Бабушкин аэропорт"] ~ table tr[name="Кольцово"],
#town_input[value="Бабушкин аэропорт"] ~ table tr[name="Самарский аэропорт"],
#town_input[value="Бабушкин аэропорт"] ~ table tr[name="Шереметьево"],
button
{
	display: none;
}
form:valid button
{
	display: block;
}